
.DS_Store

ReferenceDocs/Copyrighted/

CompilerFrontend/BASICCompilerFrontEnd.xcodeproj/project.pbxproj

CompilerFrontend/BASICCompilerFrontEnd.xcodeproj/project.xcworkspace/contents.xcworkspacedata

CompilerFrontend/BASICCompilerFrontEnd.xcodeproj/project.xcworkspace/xcuserdata/josh.xcuserdatad/UserInterfaceState.xcuserstate

CompilerFrontend/BASICCompilerFrontEnd.xcodeproj/project.xcworkspace/xcuserdata/josh.xcuserdatad/xcdebugger/Expressions.xcexplist

CompilerFrontend/BASICCompilerFrontEnd.xcodeproj/xcuserdata/josh.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

CompilerFrontend/BASICCompilerFrontEnd.xcodeproj/xcuserdata/josh.xcuserdatad/xcschemes/BASICCompilerFrontEnd.xcscheme

CompilerFrontend/BASICCompilerFrontEnd.xcodeproj/xcuserdata/josh.xcuserdatad/xcschemes/xcschememanagement.plist
